body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
.lsn {
  list-style: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.test-div {
  background-color: red;
  margin-bottom: 20px;
  height: 40px;
  color: #fff;
  font-weight: 700;
}

.block {
  display: block;
}
.flex {
  display: flex;

  justify-content: center;
  align-items: center;
}
.inline-flex {
  display: inline-flex;
  background-color: blue;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}

.margin-hlop > div {
  margin: 20px 0;
  background-color: red;
}

.margin-hlop > div {
  color: #fff;
}
/* перший елемент після нас */
.we + div {
  background-color: green;
}
/* всі елементи після нас */
.we ~ div {
  background-color: green;
}

.menu-items > li > a {
  color: red;
}
.menu-items > li > a + ul {
  display: none;
}
.menu-items > li > a:hover + ul {
  display: block;
}

.menu-items > li > ul > li > a {
  color: green;
}

.focus {
  padding: 50px 0;
}

.form {
  padding: 20px;
  border: 2px solid red;
}
.icon-box-yes {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-check:checked + label .icon-box-yes {
  fill: red;
}

/* Варіант без лейблу */
/* .form-check {
  opacity: 0;
  cursor: pointer;
}
.form-check-text {
  position: relative;
  display: inline-block;
}
.form-check-text::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background: transparent;
  transform: translate(-130%, 0px);
  pointer-events: none;
}
.form-check:checked + .form-check-text::before {
  background: #000 url(../images/icons/check-white.svg) no-repeat center;
} */
